.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# API Key
firebaseConfig.js

import Vue      from 'vue'
import App      from './App.vue'
import firebase from 'firebase/app';
import firebaseConfig from '@/firebaseConfig.js'
import router   from './router'
import store    from './store'
import VueQrcodeReader from 'vue-qrcode-reader'
import Vuetify  from 'vuetify'
import 'material-design-icons-iconfont/dist/material-design-icons.css'
import 'vuetify/dist/vuetify.min.css'
import './registerServiceWorker'

Vue.use(Vuetify, {
  iconfont: 'mdi' // 'md' || 'mdi' || 'fa' || 'fa4'
})
Vue.use(VueQrcodeReader)
Vue.config.productionTip = false
firebase.initializeApp(firebaseConfig);

new Vue({
  router,
  store,
  render: h => h(App)
}).$mount('#app')
